.general-button {
	min-width: 150px;
	color: var(--white);
	padding: 10px 20px;
	border: transparent;

	border-radius: 5px;
	background: linear-gradient(145deg, #37afff, #2e94e2);
	box-shadow: 2px 2px 2px #2985cb, -2px -2px 2px #3dc3ff;
}
