.m-container {
  font-size: 1rem;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0.5px;
}

// @media screen and (max-width: 768px) {
//   .m-container {
//     font-size: 0.75rem;
//   }
// }

.m-pwd-edit {
  width: 60%;
  margin: 50px auto;

  .m-pwd-edit-h1 {
    font-size: 1rem;
    width: 100%;
    margin: 0;
  }

  .m-pwd-edit-btn {
    background-color: #fff;
    color: black;
    width: 250px;
    height: 45px;
    line-height: 30px;
    font-size: 0.75rem;
    margin: auto;
    margin-top: 5%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .m-pwd-edit {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .m-pwd-edit {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .m-pwd-edit .m-pwd-edit-btn {
    width: 90%;
  }
}

.m-pwd-edit-form {
  margin: auto;
  width: 60%;

  .m-edit-input {
    background-color: #02021e !important;
    font-size: 1rem;
    color: #fff;
    border: none !important;
    height: 100%;
    width: 100%;
    padding-left: 4%;
  }

  .input-frame {
    border: solid 2px #b388fe;
    border-radius: 5px;
    position: relative;
    height: 47px;
  }

  .m-pwd-edit-label {
    color: white;
    text-align: left;
    width: 100%;
  }

  .m-pwd-edit-btn {
    background-color: #9c64a5;
    color: #fff;
    height: 45px;
    font-size: 1rem;
    width: 100%;
  }

  .input-box .m-pwd-edit-small {
    text-align: left;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .m-pwd-edit-form {
    width: 90%;
  }
}

.input-box {
  .m-pwd-edit-label {
    color: white;
    text-align: left;
    width: 100%;
  }

  .m-pwd-edit-small {
    color: #e40001;
    text-align: left;
  }
}
