.m-container {
  // font-size: 0.75rem;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 768px) {
  .m-container {
    font-size: 0.85rem;
  }
}

.m-index-h1 {
  font-size: 1rem;
  margin: 0 auto;
}

.member-card {
  width: 60%;
  margin: 0 auto 50px;
  height: 100%;
  box-shadow: 5px 5px 5px #02021e;
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
}

.member-card-title {
  height: 80px;
  background-color: #02021e;
  color: #fff;
  text-align: center;
  align-items: center;
  position: relative;

  .member-card-title-p {
    width: 100%;
    line-height: 100%;
    margin: 0;
  }

  .member-card-title-tips {
    position: absolute;
    color: #ffea01;
    font-size: 0.75rem;
    right: 10%;
  }
}

.member-card-body {
  background-color: #fff;
  color: #02021e;
  padding: 8%;
}

@media screen and (max-width: 991px) {
  .member-card-title span {
    bottom: 10%;
  }

  .member-left {
    display: flex;

    .member-card-memberA {
      width: 50%;
      padding: 5%;
    }

    .member-card-memberB {
      width: 50%;
      padding: 5%;

      /* float: right; */
    }
  }
}

.member-left {
  .member-left-img-frame {
    max-width: 120px;
    max-height: 120px;
    border: 2px solid #ccc;
    overflow: hidden;
    margin: 0 auto;
  }

  .member-left-img {
    width: 100%;
  }

  .member-left-p {
    text-align: center;
    line-height: 50px;
    margin: 0;
  }

  .member-left-btn {
    width: 100%;
    height: 40px;
    font-size: 0.75rem;
  }
}

.member-right-btn {
  width: 100%;
  height: 40px;
  font-size: 0.75rem;
}

.member-left-btn {
  background-color: #b388fe;
  color: white;
  border: none;
  border-radius: 5px;
}

.member-right-btn {
  background-color: #ffea01;
  color: #02021e;
  border: none;
  border-radius: 5px;
}

@media screen and (max-width: 991px) {
  .member-right {
    margin: 20px 0 10px 0;
    margin: 20px 0 10px 0;
  }
}

.member-middle {
  text-align: center;

  .member-middle-info-title {
    color: #33a4fb;
    min-width: 30%;
  }

  .member-middle-info-text {
    overflow: visible;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 991px) {
  .member-middle-info-title {
    min-width: 20%;
  }
}

.member-btn-group {
  margin: 20px 0;
  width: 60%;
  margin: 0 auto;

  .member-btn-group-p {
    line-height: 40px;
    color: white;
  }

  .col-6:hover {
    .member-btn-group-p,
    .member-btn-group-img {
      text-shadow: 1px 1px 5px rgb(255, 234, 1, 0.6);
      filter: drop-shadow(1px 1px 5px rgb(255, 234, 1, 0.6));
    }
  }
}
