.m-container {
  font-size: 1rem;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 768px) {
  .m-container {
    font-size: 0.75rem;
  }
}

.member-btn-group {
  margin: 20px 0;
  width: 60%;
  margin: auto;
}

.member-btn {
  .member-btn-p {
    line-height: 40px;
    color: white;
  }

  &:hover {
    .member-btn-p,
    .member-btn-img {
      text-shadow: 1px 1px 5px rgb(255, 234, 1, 0.6);
      filter: drop-shadow(1px 1px 5px rgb(255, 234, 1, 0.6));
    }
  }
}

.m-favlist-table {
  text-align: center;
  margin: 50px auto;

  th {
    color: #02021e;
    border-top: 1px solid #ce93d7;
    border-bottom: 1px solid #ce93d7;
  }

  td {
    padding: 10px 0;
    width: 250px;
    border-top: 1px solid #ce93d7;
    border-bottom: 1px solid #ce93d7;
  }

  thead,
  tbody {
    border-left: 1px solid #ce93d7;
    border-right: 1px solid #ce93d7;
  }

  thead {
    th {
      border-bottom: none;
    }

    tr {
      background-color: #ce93d7;
      color: white;
    }
  }

  tr {
    color: white;
    line-height: 60px;
  }

  .m-favlist-btn {
    height: 50%;
    background-color: #ce93d7;
    border-radius: 5px;
    color: #02021e;
    font-size: 1rem;
    width: 70%;
    margin: auto;
    line-height: 50px;
    cursor: pointer;
  }
  .m-favlist-td {
    &:hover {
      .m-favlist-btn {
        background-color: #b388fe;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .m-favlist-table {
    font-size: 0.75rem;
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;

    .m-favlist-btn {
      height: 40px;
      padding: 6%;
      line-height: 15px;
    }
  }
}

.m-text-yellow {
  color: #ffea01;
}

.m-favlist-img-box {
  width: 80px;
  margin: 0 auto;

  .m-favlist-img {
    width: 100%;
  }
}

.m-favlist-i {
  cursor: pointer;
}

.m-btn-active {
  text-shadow: 1px 1px 5px rgba(179, 136, 254, 0.9);
  filter: drop-shadow(1px 1px 5px rgba(179, 136, 254, 0.9));
}
