.gameApp {
  background: url(./img/wp7505888.jpg) center;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.gameTitle {
  display: flex;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 50px;

  .gameAstronaut {
    width: 125px;
    margin-right: 30px;

    &:hover {
      img {
        filter: drop-shadow(5px 8px 10px #ffff);
      }
    }
    img {
      width: 100%;
    }
  }

  .titleText {
    text-align: center;
    p {
      color: white;
      font-weight: bold;
      margin-bottom: 40px;
    }
    p + p {
      color: white;
      font-weight: bold;
      font-size: 32px;
      margin-bottom: 40px;
    }

    .playNowBtn {
      width: fit-content;
      padding: 15px 60px;
      margin: 0 auto;
      background-color: #33a4fb;
      border-radius: 4px;
      text-decoration: none;
      color: white;
      font-weight: bold;
      font-size: 24px;
    }
  }
}

.gameDescription {
  display: flex;
  width: 1140px;
  margin: 0 auto 150px;

  .processContainer {
    color: #ffffff;
    .step {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;
      .planent {
        margin-right: 10px;
      }
      .steptext {
        width: 340px;
        .mainText {
          font-size: 24px;
          font-weight: bold;
          span {
            color: #ffea01;
          }
        }
        .subText {
          font-size: 16px;
        }
      }
    }
    .step2 {
      transform: translateX(95px);
    }
  }
  .attention {
    width: 485px;
    height: 405px;
    padding: 60px 48px;
    background: url(./img/border2-5.svg);
    transform: translateX(115px) translateY(100px);
    position: relative;
    color: #ffffff;

    .attentionTitle {
      position: absolute;
      top: -35px;
      left: 160px;
      width: fit-content;
      padding: 5px 15px;
      font-size: 32px;
      font-weight: bold;
      background-color: #9c64a5;
      border: 5px solid #ce93d7;
      border-radius: 5px;
    }
  }
}

#gameArea {
  margin: 0 auto;
  width: fit-content;
  canvas {
    display: block;
  }
}
