/* .general-button {
  min-width: 150px;
  color: var(--white);
  padding: 10px 20px;
  border: transparent;
  border-radius: 5px;
  background: linear-gradient(145deg, #37afff, #2e94e2);
  box-shadow: 2px 2px 2px #2985cb, -2px -2px 2px #3dc3ff;
}
.button-disabled {
  background: #878787;
  box-shadow: 2px 2px 2px #7e7e7e, -2px -2px 2px #909090;
} */
/* ---------- */
.btn {
  width: 175px;
  height: 55px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
}
.btn2 {
  width: 120px;
  height: 55px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
}
.booking {
  background: #33a4fb;
}
.booking:hover {
  background: transparent;
  border: 3px solid #33a4fb;
  color: white;
}
.items,
.cart {
  background-color: #9c64a5;
}
.items:hover,
.cart:hover {
  background-color: transparent;
  border: 3px solid #9c64a5;
  color: white;
}
.goHome,
.goBack {
  background-color: #ce93d7;
}
.goHome:hover,
.goBack:hover {
  background-color: transparent;
  border: 3px solid #ce93d7;
  color: white;
}
.login-registered,
.memberCenter {
  background: transparent;
  border: 2px solid white;
  border-radius: 10px;
}
.login-registered:hover,
.memberCenter:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}
