* {
  font-family: 'Noto Sans TC', sans-serif;
}
footer {
  width: 100%;
  height: 670px;
  background-color: #02021e;
  /* margin-top: 200px; */
}
.footer-item {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.foobox1 {
  width: 200px;
  margin-top: 100px;
}
.foo-title {
  font-size: 24px;
  color: white;
  height: fit-content;
}
hr {
  background-color: white;
  margin: 8px 0;
  height: 0.5px;
}
.foo-link {
  display: flex;
  flex-direction: column;
}
.foo-link a,
.address,
.phone,
.copyright {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 5px 0;
  letter-spacing: 2px;
}
.foo-link a:hover {
  color: #CE93D7;
}
.foobox2 {
  margin-top: 80px;
}
.store-address img,
.store-phone img {
  height: 18px;
  margin-right: 5px;
}
.foobox3 {
  margin-top: 80px;
  text-align: center;
}
.store-phone {
  margin-top: 15px;
}
.copyright {
  margin: 0;
}
