body {
    background-image: url(./img/bg.png);
  }
  
  /* .top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  } */
  
  button {
    background-color: #ac48d3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
}
 button2 {
  background-color: #f1eaf3;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
}
  .button1{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px;
  }
  p {
    font-size: 20px;
    margin: auto;
  }
  
  
  
  .icon {
    position: absolute;
    margin-left:880px;
  }
  
  .cart1title1 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CE93D7;
    width:990px;
  
  } 
  
  .cart1title2 {
    border: #CE93D7 3px solid;
    border-top: none;
    display: flex;
    color: white;
    width:990px;
    margin: auto;
    align-items: center;
  }
  
  .end {
    border: #CE93D7 3px solid;
    border-top: none;
    width:990px;
    margin: auto;
    color: white;
    text-align: right;
  }
  
  .item {
  
    margin-left: 65px;
  }
  .table88 { 
  border:1px solid #000; 
  font-family: 微軟正黑體; 
  font-size:16px; 
  border:1px solid #000;
  text-align:center;
  border-collapse:collapse;
  } 
  .th333 { 
  background-color:#1f1055;
  padding:10px;
  border: #1f1055 3px solid ;
  color:#fff;
  
  } 
  .td4444 { 
  border: #CE93D7 3px solid;
  border-right: none;
  border-left: none;
  border-bottom:none;
  padding:5px;
  } 
  
 .counter2 li{float:left; list-style-type:none; width:30px; height:30px; text-align:center; line-height:30px;   background-color:#9C64A5}
  .counter2 li input{font-size:20px; width:100%; height:100%; outline:none; -webkit-appearance:none; background:none; margin:0; padding:0; border: 1px solid transparent; border-radius: 10%;background-color:#9C64A5;color:white}
  #countnum2{ border-left:hidden; border-right:hidden; color:#0f0e0f;background-color:#f2eaf3; width:50px;}
  .counter2{
  margin-left:40px;
  justify-content: center;
  
  }

