:root {
  --root-font-size: 16px;
  --muted-bule: #02021e;
  --light-purple: #b388fe;
  --light-blue: #33a4fb;
  /* --yellow: #ffea01; */
  --white: #fff;
  --gray: #bababa;
  --item-card-width: 270px;
  --item-card-height: 418.8px;
}

html {
  font-size: var(--root-font-size);
  box-sizing: border-box;
}

@media screen and (min-width: 769px) {
  .item-card{
    width: 20%;
  }
}

.item-card {
  margin: 5px;
  width: var(--item-card-width);
  height: var(--item-card-height);
  font-weight:bold;
  overflow: hidden;
  background-color: var(--muted-bule);
  position: relative;
  border-radius: 5px 5px 0px 0px;
}

.item-wrapper {
  height: 290px;
  margin-bottom: 10px;
  position: relative;
}

.item-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-button {
  display: none;
  position: absolute;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
}

.button-show {
  display: inline-block;
}

.item-Name {
  font-size: 16px;
  text-align: center;
  color: var(--white);
}

.item-group {
  margin-top: 10px;
}

.item-header {
  font-size: 12px;
  color: var(--gray);
  padding: 0 20px;
  text-decoration: line-through;
}

.item-detail {
  padding: 0 20px;
  font-size: 1rem;
  text-align: start;
  color: #FFF536;
}

.heart1-icon {
  width: var(--step-icon-width);
  height: var(--step-icon-height);
  position: absolute;
  bottom: 40px;
  left: 65%;
  transform: translateX(-50%);
}

.cart-icon {
  width: var(--step-icon-width);
  height: var(--step-icon-height);
  position: absolute;
  bottom: 40px;
  left: 85%;
  transform: translateX(-50%);
}
