// * {
//   border: 1px solid red;
// }

@keyframes mesDownup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(60px) translateX(100px);
  }
}

.mesApp {
  background: url(./img/wp7505888.jpg);
}

.messagetitle {
  margin: 0 auto;
  p {
    text-align: center;
    color: white;
    font-weight: bold;
  }
  img {
    position: absolute;
    width: 150px;
    left: 15%;
    top: 150px;
    animation: mesDownup linear infinite alternate;
    animation-duration: 2s;
  }
  .text01 {
    font-size: 24px;
    margin: 0 auto;
    padding-top: 65px;
  }
  .text02 {
    font-size: 48px;
    margin: 0 auto 50px;
  }
}

.chooseStoreTitle {
  text-align: center;
  font-size: 32px;
  color: white;
  font-weight: bold;
}

.storeList {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
}

.storeandplanet {
  display: flex;
  align-items: center;
  margin-bottom: 75px;
  cursor: pointer;
  &:hover {
    .planet svg {
      filter: drop-shadow(5px 5px 12px #ffea01);
    }
    p {
      text-shadow: 2px 2px 5px #ffea01;
    }
  }
  .planet {
    height: 65px;
    margin-right: 15px;
  }
  p {
    font-size: 24px;
    color: white;
    font-weight: bold;
  }
}

.actived {
  .planet svg {
    filter: drop-shadow(5px 5px 12px #ffff);
  }
  p {
    text-shadow: 2px 2px 5px #ffff;
  }
}

.messageArea {
  box-sizing: border-box;
  max-width: 1140px;
  padding: 40px 90px;
  margin: 0 auto 100px;
  background: url(./img/blockbg.png);
  border-radius: 20px;
  position: relative;
}

.floorTag {
  background: #02021e;
  border: 1px solid #b388fe;
  border-radius: 10px;
  padding: 4px 25px;
  width: fit-content;
  color: white;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: 125px;
}

.floorMaster {
  display: flex;
  margin-bottom: 35px;
  .avatar {
    width: 140px;
    img {
      width: 100%;
    }
  }
  .floorMasterInfo {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      margin: 0;
      color: white;
      font-weight: bold;
    }
  }
}

.reply {
  p {
    color: white;
    font-weight: bold;
    margin: 0;
    font-size: 12px;
  }
  .replyInfo {
    display: flex;
    align-items: flex-start;
    .avatarAndName {
      margin-left: 70px;
      margin-right: 30px;
    }
    .avatar {
      border-radius: 50%;
      overflow: hidden;
      width: 70px;
      margin-bottom: 5px;
      img {
        width: 100%;
        display: block;
      }
    }
    .replyName {
      width: 70px;
      text-align: center;
      margin-bottom: 15px;
    }
    .contentAndTime {
      position: relative;
      display: flex;
      .dateTime {
        align-self: flex-end;
        flex-shrink: 0;
      }
    }
    .replyContent {
      background: linear-gradient(to top, #ffff 10%, #b388fe);
      padding: 17px 25px;
      border-radius: 25px;
      font-size: 12px;
      position: relative;
      z-index: 1;
    }
    .triangle {
      position: absolute;
      left: 25px;
      bottom: 23px;
      transform-origin: right;
      transform: rotate(-20deg) translate(-100%) scale(0.5);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 17.5px 90px 17.5px 0;
      border-color: transparent #ffff transparent transparent;
    }
  }
}

.inputReplyArea {
  display: flex;
  .avatarAndName {
    margin-left: 70px;
    margin-right: 30px;
    .avatar {
      border-radius: 50%;
      overflow: hidden;
      width: 70px;
      margin-bottom: 5px;
      img {
        width: 100%;
        display: block;
      }
    }
    .replyName {
      color: white;
      font-size: 12px;
      font-weight: bold;
      width: 70px;
      text-align: center;
      margin: 0;
    }
  }
  .inputText {
    margin-top: 10px;
    border: 2px solid #b388fe;
    border-radius: 5px 0 0 5px;
    height: fit-content;
    input {
      color: white;
      width: 580px;
      height: 46px;
      padding: 0 0 0 1rem;
      border: 0;
      background: #02021e;
    }
  }
  .replyBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    border-radius: 0 5px 5px 0;
    height: 50px;
    width: 60px;
    padding: 0;
    background: #b388fe;
    cursor: pointer;
  }
}

.postSlogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .postcontainer {
    position: relative;
    margin-bottom: 95px;
    h5 {
      font-size: 32px;
      font-weight: bold;
      color: white;
      text-align: center;
      line-height: 50px;
      margin: 0;
    }
    .arrowAstronaut {
      width: 160px;
      position: absolute;
      left: 0;
      transform: translateX(-100%) translateY(-40%);
      img {
        width: 100%;
      }
      &:hover {
        img {
          transform: scale(1.2);
          transition: 0.2s;
        }
      }
    }
  }
}

.newPostContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 65px;
  p {
    color: white;
    margin: 0;
  }
  span {
    color: white;
    font-size: 16px;
  }
  .avatar {
    width: 140px;
    margin-right: 20px;
    align-self: flex-end;
    img {
      width: 100%;
      display: block;
    }
  }
  .addNewPost {
    display: flex;
    flex-direction: column;
    .nameAndStore {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // margin-bottom: 5px;
      .inputUserName {
        font-weight: bold;
        font-size: 24px;
        flex-grow: 2;
      }
      .chooseStore {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;
        span {
          font-weight: bold;
        }
        .planetAndStore {
          &:hover {
            .planet svg {
              filter: drop-shadow(3px 3px 5px #ffea01);
            }
            span {
              text-shadow: 2px 2px 5px #ffea01;
            }
          }
          display: flex;
          align-items: center;
          cursor: pointer;
          .planet {
            width: 45px;
            margin-right: 12px;
            svg {
              width: 100%;
            }
          }
        }
        .actived {
          .planet svg {
            filter: drop-shadow(3px 3px 5px #ffff);
          }
          span {
            text-shadow: 2px 2px 5px #ffff;
          }
        }
      }
    }
    .postContent {
      display: flex;
      .inputText {
        border: 2px solid #b388fe;
        border-radius: 5px 0 0 5px;
        height: fit-content;
        input {
          color: white;
          width: 580px;
          height: 85px;
          padding: 0 0 0 1rem;
          border: 0;
          background: #02021e;
        }
      }
      .postBtn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-align: center;
        border-radius: 0 5px 5px 0;
        height: 89px;
        width: 60px;
        padding: 0;
        background: #b388fe;
        cursor: pointer;
        .postFlag {
          font-size: 30px;
          color: white;
          transform: rotate(10deg);
        }
      }
    }
  }
}
