.popup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:80vh;
   display: flex;
   justify-content: center;
   align-items: center;

}

.popup-inner{
    position: relative;
    padding: 32px;
    width:100%;
    max-width:640px;
    background-color: #d9acdf;
}

.popup-inner .close-btn{
    position: relative;
    bottom:320px;
    
    left:580px;
    color:rgb(248, 237, 247)
}

.h1{
    color:rgb(151, 99, 151);
    font-size: 12px;
}