.popup{
    position:fixed;
    top:40px;
    left:0;
    width:100%;
    height:100vh;
   display: flex;
   justify-content: center;
   align-items: center;

}

.popup-inner{
    position: relative;
    padding: 32px;
    width:100%;
    max-width:430px;
    max-height:700px;
    background-color: #d9acdf;
}
.cardinner{
    position: relative;
    padding: 2px;
    width:100%;
  
    max-width:640px;
    background-color: #d9acdf;

}
.popup-inner .close-btn{
    position: relative;
    bottom:95px;
    left:200px;
  
}

.h1{
    color:rgb(151, 99, 151);
    font-size: 12px;
}